/* certificate frames */
.frame {
  width: 424px;
  height: 320px;
  border: 1rem double #18120c;
  padding: 12px 10px;
}

.gold {
  background: var(--primary-yellow);
}

.silver {
  background: silver;
}

.bronze {
  background: var(--primary-bronze);
}
