@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(66, 66, 66);

  --primary-yellow: #d4ac36;
  --secondary-yellow: #ca8a04; /* is TW yellow-600 */
  --primary-bronze: #b06c28;
}

/* surrounds every page, found in layout.js */
.custom-border {
  margin: 0.7rem;
  border-left: 10px solid;
  border-right: 10px solid;
  border-top: 7px solid black;
  border-bottom: 32px solid black;
  border-radius: 2.4%;
}
